<% flash.each do |key, value| %>
  <% if key === "notice" %>
    <div class="uk-alert-success uk-margin-remove-top" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p class="uk-text-center"><%= value %></p>
    </div>
  <% elsif key === "alert" %>
    <div class="uk-alert-danger  uk-margin-remove-top" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p class="uk-text-center"><%= value %></p>
    </div>
  <% end %>
<% end %>
