<% if flash.any? %>
  <div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p class="notice"><%= notice %></p>
  </div>
  <div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p class="alert"><%= alert %></p>
  </div>
<% end %>