<% @page_title = @user.username %>

<h1>こんにちは</h1>
<p><%= @user.id %></p>
<p><%= @user.username %></p>

<% if @user.requested?(current_user) %>
  <p><%=link_to "申請済み", page_friend_requests_path(@user.id), method: :delete %></p>
<% else %>
  <p><%=link_to "フレンド申請する", page_friend_requests_path(@user.id), method: :post %></p>
<% end %>